.topo{
    background-color: #232270;
    color: white;
    height: 70px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 2rem;
}


.logoTexto{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.logoTexto h1{
    font-size: 1.8rem;
}

.logoTexto img{
    height: 32px;
}

.lista{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.lista li{
    list-style: none;
}

.lista li a{
    text-decoration: none;
    color: white;
    padding: 0.5rem;
}

.lista li:hover{
    text-decoration: underline;
}

@media (min-width: 2500px) {
    .topo{
        justify-content: center;
        gap: 5rem;
    }
}

@media (max-width: 450px) {
    .topo{
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: auto;
        text-align: center;
        gap: 1.5rem;
    }

    .logoTexto img{
        height: 32px;
    }

    .logoTexto h1{
        font-size: 1.5rem;
    }

    .lista li a{
        font-size: 1rem;
    }

}